@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Orbitron:wght@400..900&display=swap');

*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}


body{
  background-color: #ebfaff;
}
section{
  width: 340px;
  padding: 30px;
  background-color: white;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
section .menu{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section .menu a{
  font-size: 20px;
  color: #666;
}

section .profile{
  width: 100%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
section .profile img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}
section .profile h1{
  font-size: 22px;
  line-height: 1;
  color: #333;
  margin-bottom: 5px;
}
section .profile h2{
  font-weight: normal;
  font-size: 12px;
  color: #bbb;
  margin-bottom: 30px;
}
section .btnView{
  display: block;
  width: 180px;
  height: 32px;
  margin: 0 auto 20px;
  background-color: #444;
  color: white;
  line-height: 32px;
  border-radius: 16px;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1px;
}


section .contact{
  margin-bottom: 25px;
}
section .contact li{
  width: 100%;
  padding: 10px 0;
  text-align: left;
}
section .contact li:first-child{
  border-bottom: 1px solid #eee;
}
section .contact i{
  width: 20%;
  text-align: center;
  color: #555;
  font-size: 15px;
  text-shadow: 2px 2px 2px #ddd;
}
section .contact li span{
  font-size: 11px;
  font-family: "Orbitron";
  color: #555;
  letter-spacing: 1px;
}


section .others{
  width: 100%;
  text-align: center;
}
section .others a{
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 10px;
  opacity: 0.4;
  filter: saturate(0.7);
}
section .others a.on{
  opacity: 1;
  filter: saturate(1);
}
section .others a:nth-child(1){
  background-color: #35e0f7;
  box-shadow: 5px 5px 10px rgba(74, 255, 255, 0.7);
}
section .others a:nth-child(2){
  background-color: #55F5CD;
  box-shadow: 5px 5px 10px rgba(85, 245, 178, 0.7);
}
section .others a:nth-child(3){
  background-color: #FF00DF;
  box-shadow: 5px 5px 10px rgba(255, 128, 223, 0.7);
}
section .others a:nth-child(4){
  background-color: rgb(153, 22, 240);
  box-shadow: 5px 5px 10px rgba(167, 145, 253, 0.7);
}


/* =================================== */

body.member1{ 
  /* 띄어쓰기없는 태그 = body 중 class가 memeber1인 녀석 */
  background-color: #ebfaff;
}
.member1 section .profile img{
  box-shadow: 5px 15px 30px rgba(173, 216, 240, 0.8);
}
.member1 .menu i{
  color: #29c1d5;
}
.member1 .btnView{
  background: linear-gradient(45deg, #4affff, #35e0f7);
  box-shadow: 5px 10px 20px rgba(0, 255, 255, 0.5);
}
.member1 .contact i{
  color: #29c1d5;
}


body.member2{ 
  background-color: #edffed;
}
.member2 section .profile img{
  box-shadow: 5px 15px 30px rgba(189, 204, 183, 0.8);
}
.member2 .menu i{
  color: #4ae3a3;
}
.member2 .btnView{
  background: linear-gradient(45deg, #a0ff9d, #55F5CD);
  box-shadow: 5px 10px 20px rgba(33, 250, 105, 0.5);
}
.member2 .contact i{
  color: #4ae3a3;
}


body.member3{ 
  background-color: #fff3fd;
}
.member3 section .profile img{
  box-shadow: 5px 15px 30px rgba(252, 99, 214, 0.8);
}
.member3 .menu i{
  color: #ff11c4;
}
.member3 .btnView{
  background: linear-gradient(45deg, #ef74ff, #ff11c4);
  box-shadow: 5px 10px 20px rgba(255, 17, 196, 0.5);
}
.member3 .contact i{
  color: #ff11c4;
}


body.member4{ 
  background-color: #f5f0ff;
}
.member4 section .profile img{
  box-shadow: 5px 15px 30px rgba(183, 82, 250, 0.8);
}
.member4 .menu i{
  color: #a011ff;
}
.member4 .btnView{
  background: linear-gradient(45deg, #8e74ff, #a011ff);
  box-shadow: 5px 10px 20px rgba(160, 17, 255, 0.5);
}
.member4 .contact i{
  color: #a011ff;
}
































